In [1]:
import pandas as pd
import numpy as np

#### 1 Compute how much total salary cost has increased from year 2011 to 2014

In [2]:
orig = pd.read_csv('Salaries.csv')
df=pd.DataFrame(orig)

tot = df.groupby('Year').agg({'TotalPay':np.sum})
print(tot)
x = list(tot['TotalPay'])[0]
y = list(tot['TotalPay'])[3]

print("\nTotal Salary Increase from 2011 to 2014 = ", round(y-x))

          TotalPay
Year
2011  2.594113e+09
2012  2.724736e+09
2013  2.918656e+09
2014  2.876911e+09

Total Salary Increase from 2011 to 2014 =  282797921

C:\Users\bpeddi\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### 2. Which Job Title in Year 2014 has highest mean salary?

In [65]:
sub = df.groupby('Year')
sub_year = pd.DataFrame(sub.get_group(2014))
year = sub_year.groupby('JobTitle').mean()['TotalPay']
df_mean = pd.DataFrame(year, columns=['JobTitle', 'TotalPay'])
df_mean.drop(columns = ['JobTitle'], axis=1, inplace=True)

print("Highest mean salary in 2014 exists in Job Title = ")
df_mean[df_mean['TotalPay']==df_mean['TotalPay'].max()]

Highest mean salary in 2014 exists in Job Title =

                          TotalPay
JobTitle
Chief Investment Officer  339653.7

#### 3. How much money could have been saved in Year 2014 by stopping OverTimePay?

In [73]:
print("Total OT cost in 2014 that could have been saved = ", round(sub_year['OvertimePay'].sum()))

Total OT cost in 2014 that could have been saved =  205918599.0

#### 4.Which are the top 5 common job in Year 2014 and how much do they cost SFO

In [114]:
sub_year.sort_values(by='TotalPay', ascending=False, inplace=True)
print("Top 5 common Jobs in 2014 are = \n", sub_year.iloc[0:5, 2:3])
topfive = sub_year.head(5)
print("\nTotal amout the Top 5 Jobs costs to SFO = ",topfive['TotalPay'].sum())

Top 5 common Jobs in 2014 are =
                               JobTitle
110529                  Deputy Chief 3
110530               Asst Med Examiner
110534               Asst Med Examiner
110531        Chief Investment Officer
110537  Battalion Chief, Fire Suppress

Total amout the Top 5 Jobs costs to SFO =  1881390.74

#### 5. Who was the top earning employee across all the years

In [75]:
df_mean[df_mean['TotalPay']==df_mean['TotalPay'].max()]
df[df['TotalPay']==df['TotalPay'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object